doctype html
html
  head
    title Ankieta o smartfonach
    link(type="text/css" href="main.css" rel="stylesheet")
    script(src="main.js" type="text/javascript")
    block head
  body(onload=('send_all()'))
    h1 Zalogowano!
    br
    a(href="/") Powrót do strony głównej
    br
    hr
    footer 
        p Copyright &copy; 2022