extends layout

block content
  br
  form(method='POST',action='/login')
    #from-group
        label Login: 
        input.form-control(name='name',type='text')
    br
    #from-group
        label Hasło: 
        input.form-control(name='pass',type='text')
    br
    input.btn.btn-primary(type='submit',value='Zaloguj')
    p #{out}